<%#= form_for @message, :html => {:multipart => true} do |f| %>


   <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content,:cols=>116,:rows=>6 %>
  </div>
  <%= f.fields_for :assets do |builder| %>
         <%= builder.label :document,"Attach a file" %> 
         <%= builder.file_field :document %><br />
   <% end %>
  <%= f.submit 'send', :class => "create" %>
  <%= f.submit 'save to drafts', :class => "create" %> 
<%# end %>
  
