<% if notice !=nil %>
 <p id="notice"><%= notice %></p>
<%end%>
<fieldset id="outer">
  <legend>New message</legend>
  <%= form_for @message , :html => {:multipart => true} do |f| %>
    Send To <%= f.autocomplete_field :sender_id, autocomplete_user_name_users_path ,:"data-delimiter" => ';',:size=> 70%>
    <%= render :partial => 'form',
           :locals => {:f => f}
%>
  <% end %>
</fieldset>
<%= link_to 'Back', messages_path %>
