<%- content_for(:head) do -%>
<%= javascript_include_tag "jquery-1.8.0.min.js"  %>
<%= javascript_include_tag "jquery-ui-1.8.23.custom.min.js"  %>
<%= javascript_include_tag "autocomplete-rails.js" %>
<%= javascript_include_tag "nested_form.js" %>
<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css" %>
<%- end -%>

<fieldset id="outer">
  <legend>New message</legend>
  <%= nested_form_for @message  do |f| %>
    Send To <%= f.autocomplete_field :sender_id, autocomplete_user_name_users_path ,:"data-delimiter" => ';',:size=> 110%>
  <div class="field">
    <%= f.label :subject %>&nbsp;&nbsp;
    <%= f.text_field :subject,:size=> 110 %>
  </div>
    <%= render :partial => 'form',
           :locals => {:f => f}
%>
  <% end %>
</fieldset>
<%= link_to 'Back', inbox_url %>

