<%- content_for(:head) do -%>
<%= javascript_include_tag "jquery-1.8.0.min.js"  %>
<%= javascript_include_tag "messages.js.coffee" %>
<%= javascript_include_tag "nested_form.js" %>


<%- end -%>
<h4> From :&nbsp;&nbsp;&nbsp;<%=@sender%><br>
  To :&nbsp;&nbsp;&nbsp;<%=@receiver%><br>
</h4>
<h5>
Subject :&nbsp;<%=@subject%>
</h5>
<div id="right">
  <%= button_to 'Flag', flag_messages_path, method: "put", :class =>"create" %>
</div>


<%= form_tag show_delete_messages_path,:method => :put do %>
 <table>
 <% @messages.each do |message| %>
   <tr>
   <td><%= check_box_tag "message_ids[]" , message.id %></td>
   <td colspan = "56">
   <fieldset id = "<%= cycle('odd', 'even') %>">
        
        <table>
        <tr><td><h4>From:&nbsp;&nbsp;&nbsp;<%= message.sender.name %></td></h4><td>
        <% if message.sender.avatar.exists? %>
          <%= image_tag message.sender.avatar.url(:thumb) %>
        <% else %>
          <%= image_tag("noimage.gif") %>
        <% end %>
          </td></tr></table>
    <div id="right">
      <%= message.created_at.ctime %>
    </div>
    Message
    <div id="content">
    <%= message.content %>
    </div>
    
    <br>
    <% for asset in message.assets %>
       <%=link_to asset.document_file_name , downloads_message_path(asset.id) %> <br>
    <%end%> 
    <%= link_to "Delete", messages_url({:id => message.id}) %>
   
   </fieldset> 
 </td>
</tr>
  <% end %>
</table>
<%= submit_tag "Delete Checked",:class => 'create' %>
<%end %>
<br />
<button id="buttonreply" class="create">Reply</button>




<div id="replying" >

  <fieldset id="outer">
   <%= nested_form_for @message,:url => reply_path ,:multipart => true, :method => "post"  do |f| %>
     <%= render :partial => 'form',
           :locals => {:f => f}%>
   <%end%>
  </fieldset>
</div>
