<div class="depot_form">
   <%= form_tag('/sessions/create',:method => :get) do %>
     <fieldset>
      <legend><%= t('.please_log_in') %></legend>

      <table>
        <tr>
          <td><%= label_tag :email, t('.email') %></td>
          <td><%= email_field :email, params[:email] %></td>
        </tr>
        <tr>
          <td><%= label_tag :password, t('.password') %></td>
          <td><%= password_field_tag :password, params[:password] , size: 30%></td>
        </tr>

      </table>
      <div class="field">

        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
              <%= label_tag t('.remember') %>
      </div>
      <%= submit_tag t('.log_in') , :class => "create" %>
      </div>
    </fieldset>
  <% end %>
<p><strong>Sign in through one of these services:</strong></p>
<%= render 'authentication/list' %>