<h1>Listing threadmessages</h1>
<%= paginate @threadmessages %>
<% if (Message.find session[:message_id]).to_user_id ==session[:message_id]%>
<%= image_tag (Message.find session[:message_id]).to_user.avatar.url(:small) %>
<% else %>
<%= image_tag (Message.find session[:message_id]).from_user.avatar.url(:small) %>
<% end %>
<table>
  <tr>
    <th>Description</th>
    <th>From user</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @threadmessages.each do |threadmessage| %>
  <%if  threadmessage.status=="u" %>
  <tr class="unread">
  <% else %>
  <tr class="read">
  <%end%>
    <td><%= threadmessage.description %></td>
    <td><%= threadmessage.user.name %></td>
    <td><%= threadmessage.updated_at %></td>    
    <td><%= link_to 'Show', threadmessage %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Reply', new_threadmessage_path %>


