<div class="depot_form">
<%= form_for @user do |f| %>
<fieldset>
<legend>Enter New Password</legend>
<table>
<tr>
<td><%= f.label :password, 'Password' %></td>
<% if @user.errors[:password].any? %><td class="error"><% else %><td><% end %><%= f.password_field :password, size: 40 %></td>
<td><% if @user.errors[:password].any? %><div id="error"><%= @user.errors.get(:password) %></div><% end %></td>
</tr>
<tr>
<td><%= f.label :password_confirmation, 'Confirm' %>:</td>
<% if @user.errors[:password_confirmation].any? %><td class="error"><% else %><td><% end %><%= f.password_field :password_confirmation, size: 40 %></td>
<td><% if @user.errors[:password_confirmation].any? %><div id="error"><%= @user.errors.get(:password_confirmation) %></div><% end %></td>
</tr>
<table>
<div>
<%= f.submit %>
</div>

</fieldset>
<% end %>
</div>

