<div class="depot_form">
  <%= form_for @user,:html => { :multipart => true}  do |f| %>
    <fieldset>
      <legend><%= t :enter_details, :scope => [:users, :new] %></legend>
      <table>
        <tr>
          <td><%= f.label :name %></td>
          <td><%= f.text_field :name, size: 40 %></td>
          <td><% if @user.errors[:name].any? %><div id="errors"><%= @user.errors.get(:name).join(', ') %></div><% end %></td>
       </tr>
       <tr>
          <td><%= f.label :email %></td>
          <td><%= f.email_field :email, size: 40 %></td>
          <td><% if @user.errors[:email].any? %><div id="errors"><%= @user.errors.get(:email).join(', ') %></div><% end %></td>
       </tr>
       <tr>
          <td><%= f.label :age %></td>
          <td><%= f.text_field :age, size: 40 %></td>
          <td><% if @user.errors[:age].any? %><div id="errors"><%= @user.errors.get(:age).join(', ') %></div><% end %></td>
       </tr>
       <tr>
          <td><%= f.label :avatar%></td>
          <td><%= f.file_field :avatar %></td>
          <td><% if @user.errors[:avatar].any? %><div id="errors"><%= @user.errors.get(:avatar_content_type).join(', ')  %><%= @user.errors.get(:avtar_file_size)  %></div><% end %></td>
       </tr>
       <tr>
          <td><%= f.label :password, 'Password' %></td>
          <td><%= f.password_field :password, size: 40 %></td>
          <td><% if @user.errors[:password].any? %><div id="errors"><%= @user.errors.get(:password).join(', ') %></div><% end %></td>
       </tr>
       <tr>
          <td><%= f.label :password_confirmation, 'Confirm' %></td>
          <td><%= f.password_field :password_confirmation, size: 40 %></td>
       </tr>
       <tr> 
          <td><%= f.label :time_zone,'Time Zone'%></td>
          <td>&nbsp;&nbsp;<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all.sort,:default => "New Delhi" %></td>
       </tr>  
     </table>
     <br><br>&nbsp;&nbsp;&nbsp;&nbsp;<%= f.check_box :notification %>  <%= t('users.new.notification_receive') %>
     <div>
       <%= f.submit t('users.new.submit') %>
     </div>
   </fieldset>
  <% end %>
 </div>

