<% if notice !=nil %>
<p id="notice"><%= notice %></p>
<%end%>
<h1>Update picture</h1>
<div class="depot_form">
<%= form_for @user,:html => { :multipart => true}  ,:url => update_picture_url do |f| %>
<fieldset>
<legend>Update New picture</legend>
<table>
<tr>
<td><%= f.label :avatar%></td>
<% if @user.errors[:avatar].any? %><td class="error"><% else %><td><% end %><%= f.file_field :avatar %></td>
<td><% if @user.errors[:avatar].any? %><div id="error"><%= @user.errors.get(:avatar) %></div><% end %></td>
</tr>
</table>
<div>
<%= f.submit %>
</div>
</fieldset>
<% end %>
</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
