
<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter.png", :size => "50x50", :alt => "Twitter" %>
  <%= t('twitter') %>
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook.png", :size => "50x50", :alt => "Facebook" %>
  <%= t('facebook') %>
</a>

<a href="/auth/linkedin" class="auth_provider">
  <%= image_tag "linkedin.png", :size => "50x50", :alt => "Linkedin" %>
  <%= t('linkedin') %>
</a>
<div class="clear"></div>
